<div class="create_watch-container">
  <a href="/watches" class="btn btn-primary mb-2">←</a>

  <form action="/create-watch" method="post">
    <label for="">Watch's Name: </label>
    <input type="text" name="watchName" value="<%= watch.watchName%>" /> <br />
    <br />
    <% if(errorMessage == "Name cannot be left blank") { %>
    <p><%= errorMessage%></p>
    <% }%> <% if(errorMessage == "Must not be the same as an existing name") {
    %>
    <p><%= errorMessage%></p>
    <% }%>
    <br />

    <div class="watch-image">
      <label for="formFile" class="form-label">Image: </label>
      <input
        class="form-control"
        type="file"
        name="image"
        src="<%= watch.image%>"
        id="file-uploader"
        accept=".jpg, .jpeg, .png, .webp, .avif"
      />
      <div id="image-grid" class="show-image"></div>
    </div>
    <br />
    <% if(errorMessage == "Image cannot be left blank") { %>
    <p><%= errorMessage%></p>
    <% }%>
    <br />

    <label for="">Price: </label>
    <input type="text" name="price" value="<%= watch.price%>" /> <br />
    <br />
    <% if(errorMessage == "Price cannot be left blank") { %>
    <p><%= errorMessage%></p>
    <% }%> <% if(errorMessage == "Price must be a positive integer") { %>
    <p><%= errorMessage%></p>
    <% }%>
    <br />

    <div class="watch-automatic">
      <label for="">Automatic: </label>
      <div class="watch-automatic-item">
        <input type="radio" name="automatic" value="true" />
          <label for="true">True</label><br />
        <input type="radio" name="automatic" value="false" />
          <label for="false">False</label><br />
      </div>
      <br />
    </div>

    <div class="watch-des">
      <label for="">Description: </label>
      <textarea name="watchDescription" id="">
<%= watch.watchDescription%></textarea
      >
      <br />
    </div>
    <br />
    <% if(errorMessage == "Description cannot be left blank") { %>
    <p><%= errorMessage%></p>
    <% }%>
    <br />

    <label for="">Brand: </label>
    <select name="brand" id="">
      <% brands.forEach(brand=> { %>
      <option value="<%= brand._id%>"><%= brand.brandName %></option>
      <% }) %>
    </select>

    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary mb-2">Create Watch</button>
  </form>
</div>

<script>
  const fileUploader = document.getElementById("file-uploader");
  const reader = new FileReader();
  const imageGrid = document.getElementById("image-grid");

  fileUploader.addEventListener("change", (event) => {
    const files = event.target.files;
    const file = files[0];
    reader.readAsDataURL(file);

    reader.addEventListener("load", (event) => {
      const img = document.createElement("img");
      img.onload = () => {
        // Tính toán kích thước mới cho ảnh (ví dụ: giả sử giới hạn chiều rộng là 300px)
        const maxWidth = 250;
        const maxHeight = 250;
        let width = img.width;
        let height = img.height;

        if (width > height) {
          if (width > maxWidth) {
            height *= maxWidth / width;
            width = maxWidth;
          }
        } else {
          if (height > maxHeight) {
            width *= maxHeight / height;
            height = maxHeight;
          }
        }

        img.width = width;
        img.height = height;

        // Thêm ảnh vào imageGrid
        imageGrid.innerHTML = ""; // Xóa các ảnh cũ
        imageGrid.appendChild(img);
      };

      img.src = event.target.result;
      img.alt = file.name;
    });
  });
</script>
