<div class="get_watch-container">
  <a href="/create-watch" role="button" class="btn btn-primary mb-2"
    >Create watch
  </a>

  <!-- basic table -->
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Watch's name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Automatic</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% watches.map((watch, index)=> {%>
      <tr>
        <td class="get_watch-td"><%= index + 1 %></td>
        <td class="get_watch-td"><%= watch.watchName%></td>
        <td class="get_watch-td">
          <div class="get_watch-td-img">
            <img src="assets/watch/<%= watch.image%>" />
          </div>
        </td>
        <td class="get_watch-td">
          <%= (watch.price).toLocaleString('vi-VN', { style: 'currency',
          currency: 'VND' }) %>
        </td>
        <td class="get_watch-td"><%= watch.automatic ? 'True' : 'False' %></td>
        <td class="get_watch-td">
          <% watch.watchDescription.split('; ').forEach(description => { %>
          <p><%= description %></p>
          <% }) %>
        </td>
        <td class="get_watch-td">
          <% brands.forEach((brand) => { if(String(brand._id) ===
          String(watch.brand)){ %> <%= brand.brandName%> <% } }) %>
        </td>
        <td class="get_watch-td">
          <a href="/delete-watch/<%= watch._id%>" class="btn btn-danger mb-2"
            >Delete</a
          >

          <a href="/edit-watch/<%= watch._id%>" class="btn btn-primary mb-2"
            >Edit</a
          >
        </td>
      </tr>
      <%}) %>
    </tbody>
  </table>
</div>
