<div class="detail_watch-container">
  <div class="detail_watch-left ">
    <img src="/assets/watch/<%= watch.image%>" />
  </div>
  <div class="detail_watch-right">
    
    <div>
      <div class="ps-lg-10">
     
        <!-- heading -->
        <h1 class="mb-1"><%= watch.watchName.toUpperCase() %></h1>
        <div class="fs-4">
          <!-- price -->
          <span class="fw-bold text-dark">
            <%= (watch.price).toLocaleString('vi-VN', { style: 'currency' ,
            currency: 'VND' }) %></span
          >
        </div>
        <!-- hr -->
       
          <div class="ms-2 col-4">
            <!-- btn -->
            <a
              class="btn btn-light"
              href="#"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="Compare"
              ><i class="bi bi-arrow-left-right"></i
            ></a>
            <a
              class="btn btn-light"
              href="shop-wishlist.html"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="Wishlist"
              ><i class="feather-icon icon-heart"></i
            ></a>
          </div>
        </div>
        <!-- hr -->
        <hr class="my-6" />
        <div>
          <!-- table -->
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Product Code:</td>
                <td><%= watch._id %></td>
              </tr>
              <tr>
                <td>Automactic:</td>
                <td><%= watch.automatic ? 'Automatic' : 'Handwinding' %></td>
              </tr>
              <tr>
                <td>Type:</td>
                <td><%= brands.brandName%></td>
              </tr>
              <tr>
                <td>Description :</td>
                <td>
                  <% watch.watchDescription.split('; ').forEach(description => { %>
                  <p class="detail_watch-des-item"><%= description %></p>
                  <% }) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>   
      </div>
    </div>
  </div>
</div>
<ul class="list-group">
  <% watch.comments.forEach(function(comment) { %>
  <div class="d-flex justify-content-between border">
    <div class="d-flex  pb-6 mb-6">
      <!-- img -->
      <!-- img --><img
        src="../assets/images/avatar/avatar-10.jpg"
        alt=""
        class="rounded-circle avatar-lg"
      />
      <div class="ms-5">
        <h6 class="mb-1"><%= comment.author.name %> </h6>
        <!-- select option -->
        <!-- content -->
       
        <!-- rating -->
        <% for (let i = 1; i <= 3; i++) { %> <% if (i <= comment.rating) { %>
          <span class="fa fa-star checked" style="color: yellow"></span>
          <% } else { %>
          <span class="fa fa-star"></span>
          <% } %> <% } %>
        <!-- text-->
        <p><%= comment.content %></p>

      </div>
    </div>
    <div class="row row-cols-lg-5">
   
      

      <% if (comment.author.id === session.memberId) { %>
        <form action="/watch/<%= watch._id %>/comment/<%= comment._id %>/delete" method="get" class="justify-content-end m-4" onsubmit="return confirm('Are you sure you want to delete this comment?');">
          <button type="submit" class="btn btn-danger"><img src="/assets/trash.png" style="width: 20px;" /></button>
        </form>
        <% } %>
      </div>
     
  </div>

  <% }); %>
</ul>
<form action="/watch/<%= watch._id %>/comment" method="post"  >
  <br />
  <% if (errorMessages.length > 0) { %>
    <div class="error">
      <% errorMessages.forEach(message => { %>
        <div class="alert alert-danger" role="alert">
          <p><%= message %></p>
         </div>
       
      <% }) %>
    </div>
  <% } %>
  <div class="p-2 m-2" >
    <!-- heading -->
    <h5>Rate this product</h5>
    <!-- rating -->
    <div class="rating">
      <input type="radio" name="rating" value="1" id="star1" />
      <label for="star1">1 star</label>
      <input type="radio" name="rating" value="2" id="star2" />
      <label for="star2">2 stars</label>
      <input type="radio" name="rating" value="3" id="star3" />
      <label for="star3">3 stars</label>
    </div>

    <h5>Add a written review</h5>
    <textarea
      class="form-control"
      rows="3"
      placeholder="What did you like or dislike? What did you use this product for?"
      name="content"
    ></textarea>
  </div>
  <div class="d-flex justify-content-end ">
    <button type="submit" class="btn btn-primary mb-5">Submit Review</button>
  </div>
</form>
