<div class="home-container" id="homeContainer">
  <div class="home-find">
    <div class="home-filter">
      <select id="brandFilter">
        <option value="">All Brands</option>
        <% brands.forEach((brand) => { %>
        <option value="<%= brand._id %>"><%= brand.brandName %></option>
        <% }) %>
      </select>
    </div>
    <div class="home-search">
      <input type="text" id="searchInput" placeholder="Search for watches..." />
      <button id="searchButton" class="btn btn-primary mb-2">Search</button>
    </div>
  </div>
  <div>
  <div class="row row-cols-lg-5"  style="min-height: 100vh;">
  <% watches.map((watch)=> {%>
    

  <div class="col m-3 watch-item">
    <p style="display: none;" ><strong>Name: </strong> <%= watch.watchName%></p>
    <% brands.forEach((brand)=> { if(String(brand._id) ===
        String(watch.brand)){ %>
        <p class="brand-id" style="display: none;"><%= brand._id %></p>
        <p style="display: none;"><strong>Brand: </strong> <%= brand.brandName%></p>
        <% } }) %>
        
    <div class="card card-product">
      <div class="card-body">
        <div class="text-center position-relative">
            <% if(watch.automatic){ %>
                <div class="position-absolute top-0 start-0">
                    <span class="badge bg-danger">Automatic</span>
                  </div>
            <% } else { %>
                <div class="position-absolute top-0 start-0">
                    <span class="badge bg-warning">Handwinding</span>
                </div>  
            <% } %>

          
          <a href="#!">
            <img src="assets/watch/<%= watch.image%>" class="mb-3 img-fluid" style="width: 200px; height: 200px;"
          /></a>

          <div class="card-product-action">
            <a
              href="#!"
              class="btn-action"
              data-bs-toggle="modal"
              data-bs-target="#quickViewModal"
              ><i
                class="bi bi-eye"
                data-bs-toggle="tooltip"
                data-bs-html="true"
                title="Quick View"
              ></i
            ></a>
            <a
              href="#!"
              class="btn-action"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="Wishlist"
              ><i class="bi bi-heart"></i
            ></a>
            <a
              href="#!"
              class="btn-action"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              title="Compare"
              ><i class="bi bi-arrow-left-right"></i
            ></a>
          </div>
        </div>
       
        <h2 class="fs-6">
          <p href="#!" class="text-inherit text-decoration-none"
            ><%= watch.watchName%></p
          >
        </h2>
        
        
        <div class="d-flex justify-content-between align-items-center mt-3">
          <div>
            <span class="text-dark">Price: <%= watch.price%></span>
            
          </div>
          <div>
            <a href="/detail-watch/<%= watch._id%>" class="btn btn-primary btn-sm">
              
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
              </svg>
              Detail</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <%}) %>
  </div>
</div>

<script>
 
  document
    .getElementById("searchButton")
    .addEventListener("click", function () {
      const searchValue = document.getElementById("searchInput").value.toLowerCase();
      const watchItems = document.querySelectorAll(
        ".watch-item"
      );

      watchItems.forEach((item) => {
        const watchName = item.querySelector("p").textContent.toLowerCase();
        if (watchName.includes(searchValue)) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });
      // adjustHomeContainerHeight();
    });

  document
    .getElementById("brandFilter")
    .addEventListener("change", function () {
      const selectedBrandId = this.value; // Lấy giá trị id của thương hiệu đã chọn

      const watchItems = document.querySelectorAll(
        ".watch-item"
      );

      watchItems.forEach((item) => {
        const brandIdElement = item.querySelector(".brand-id");
        const itemBrandId = brandIdElement.textContent.trim();

        if (!selectedBrandId || selectedBrandId === itemBrandId) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });
      // adjustHomeContainerHeight();
    });

  // Điều chỉnh chiều cao của home-container khi tải trang
  // adjustHomeContainerHeight();
</script>
