<div class="get_brand-container">
  <div
    id="error-message"
    class="alert alert-danger"
    role="alert"
    style="display: none"
  >
    <%= errorMessage %>
  </div>

  <a href="/create-brand" role="button" class="btn btn-primary mb-2"
    >Create brand
  </a>

  <!-- basic table -->
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Brand's name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% brands.map((brand, index)=> {%>
      <tr>
        <td class="get_brand-td"><%= index + 1 %></td>
        <td class="get_brand-td"><%= brand.brandName%></td>
        <td class="get_brand-td">
          <a href="/delete-brand/<%= brand._id%>" class="btn btn-danger mb-2"
            >Delete</a
          >

          <a href="/edit-brand/<%= brand._id%>" class="btn btn-primary mb-2"
            >Edit</a
          >
          <!-- ðŸ“ -->
        </td>
      </tr>
      <%}) %>
    </tbody>
  </table>
  <!-- basic table -->
</div>
